#about-us
  background-color #72665d
  full-background($bg-image-about-us)

  article
    padding-top 100px
    text-align center

  p
    text-align justify
    font-weight 300
    padding 0 25%
    letter-spacing 1px

    @media (max-width: medium-screen)
      padding 0
  a
    padding-top 40px
    text-align center
    color #000

    &:hover
      color #527b00


  .arrow
    text-align center
    font-size 30px
