#socials
  padding-bottom 10px

  h1
    padding-left 20px
    font-size 18px
    text-align center

  a
    color: #000 !important
    font-size: 12px

    &:hover
      color: #527b00 !important


    .fa
      font-size: 30px

