#socials
  padding-bottom 10px

  .flex-grid-center
     @media (max-width: medium-screen)
      flex-direction column

  h1
    font-size 18px
    text-align center

    @media (max-width: medium-screen)
      padding-top 30px

  a
    color: #000 !important
    font-size 12px

    @media (max-width: medium-screen)
      font-size 10px

    &:hover
      color: #527b00 !important


    .fa
      font-size: 30px

      @media (max-width: medium-screen)
        font-size 15px


