medium-screen = 600px
z-index-1 = 100
z-index-2 = 200
z-index-3 = 300
z-index-4 = 400
$z-index-5 = 500
$z-index-max = 10000

// I'm not the best color-picker person so someone must change this

$bg-color-default                 = #fafafa
$bg-color-navbar                  = #fff
$bg-color-hero                    = #232741
$bg-color-testmonials             = #527b00
$bg-color-services                = #0093AF
$bg-color-projects                = #DB4C40

$bg-image-hero                    = '/images/hero/background.jpg'
$bg-image-about-us                = '/images/about_us/background.jpg'

$text-color-default               = #222
$text-color-nav-links             = #222
$text-color-hero                  = #fff
$text-color-services              = #fff
$text-color-testimonials          = #fff
$text-color-projects-title        = #fff
$text-color-projects              = #fff
$text-color-hire-us               = #fff
